@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:black;
    text-align: justify;
    line-height: 1.7rem;
    width: 80%;
    margin: auto;
    margin-top: 5%;
        
    
}
ul{
    list-style-type: none;
}

#contenedor{
    
}

#logo{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    clear: left;
    float:left;
}
p{
    margin-left: 0.5rem;
}

address{
    white-space: pre-line;
}
ul>li:first-child{
    padding-top: 1.3rem;
    font-size: 5.7rem;
    font-weight: bold;
    float:left;
}
ul>li:nth-child(2){
    clear: left;
    float:left;
    padding-left:3rem;
    margin-top: 0.1rem;
    font-size: 1.4rem;
    float: left;
}

ul>li:nth-child(3){
    position: relative;
    top:-75px;
    left:25px;
    text-align: right;
    line-height: 1rem;
    margin-right: 40px;
    font-size: 0.9rem;
    float:right;
}

#linea{
    background-color: #c0c0c0;
    width: 100%;
    clear: left;
    float: left;
    border-bottom: 1px solid black;
    max-height: 8rem;
}
#linea2{
    width: 100%;
    clear: left;
    float:left;
    border-bottom: 1px solid black;
    max-height: 2rem;
}

ol>li{
    list-style-type: none;
}

ol>li:first-child{
    clear: both;
    float: left;
    position: relative;
    top: -13px;
    left: -40px;
}

ol>li:nth-child(2){
    position:  relative;
    float: left;
    top: -13px;
    right: -380px;
}

ol>li:nth-child(3){
    position: relative;
    top: -13px;
    right: -860px;
    float: right;
    
}

h1:first-child{
    clear:both;
    padding: 0.40rem;
}
#cabecera_sub{
    clear: both;
    float: left;
}
section>h1{
    background-color: #c0c0c0;
    color:#FFF;
}

section>section>h1{
    color:red;
    background-color: transparent;   
    border-bottom:3px solid #999999;
    text-transform: uppercase;
}

#linea03{
    clear: both;
    float:right;
}