@charset "UTF-8";

body{
    font-size: 16px;
    color:#000;
    font-family: 'Rosario',sans-serif;
}

#contenedor{
    width: 800px;
    margin: auto;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #00b3ff;
}

h2{
    color:#00b3ff;
}

ul li{
    display: inline;
    color:crimson;
    margin-left: 50px;
   

ul li:before{
    content: "\1f355\0020";
}