@charset "UTF-8";

body{
    font-family: 'Lato', Calibri, sans-serif;
    font-size: 16px;
    color:black;
    text-align: justify;
    line-height: 2rem;
    width: 100%;
    background-color: black;
    background-image: url("../image/ex7-background.png");
    background-repeat: no-repeat;
   
}

header{
    height: 3rem;
    margin: 2rem;
    
}

header h1{
    text-align: center;
    font-size: 2.5rem;
    color:white;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}


nav ul{   
    position: relative;
    width: 90%;
    text-align: right;
    border-right: 4px solid coral;
    border-radius: 40px 10px 0 0;
}

span{
    font-weight: bold;
}

input[type="radio"]{
    margin-right: 2rem;
}

nav ul li{
    list-style-type: none;
    display: inline;
    background-color: coral;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem;
    margin-left: 1rem;
}

nav ul li a{
    color:white;
    text-decoration: none;

}

main{
    margin: 2rem;
    clear: both;
    float: left;
    width: 60%;
}

aside{
    float: left;
    background-color: #cccccc;
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 6rem;
    margin-left: 2rem;
    
}

aside>h2{
    text-align: center;
    margin-top: 2rem;
}

aside>p{
    margin: 1rem;
    
}

main>p{
    font-weight: bold;
}

fieldset{
    border:1px solid black;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
legend{
    padding: 1rem;
}


#principal{
    width: 80%;
    margin: auto;
    border:4px solid coral;
    height: 1350px;
    background-color: white;
    border-radius: 60px 0px 0px 0px;
    
}

footer{
    width: 80%;
    margin: auto;
    background-color: #7C7C7C;
    border:4px solid #7C7C7C;
    height: 4rem;
    text-align: center;
    
}

footer ul li a{
    color:white; 
    text-decoration: none;
    
}

footer ul li{
    display: inline;
    padding: 3rem;
    margin-top: 4rem;
    
}

p:first-child{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    background-color: hotpink;
}

label{
    font-weight: bold;
    text-align: left;
    margin-right: 2rem;
}

#botones{
    text-align: center;
}

label{
    width: 25%;
    float:left;
}

#cursos>label{
    width:10%;
    float:left;
}

input, textarea{
    background-color: #D3E3FF;
}

figure{
    margin-left: 2rem;
    float: left;
    margin-top: 1rem;
    margin-right: 3rem;
    text-align: center;
    /*rotación imagenes*/
    -ms-transform: rotate(-7deg);  /*IE 9*/ 
    -webkit-transform: rotate(-7deg);  /*Chrome, Safari, Opera*/ 
    transform: rotate(-7deg); 
    background-color: #cccccc;
    border: 1px solid black;
    border-radius: 5px;
    /*sombras*/
    box-shadow: 5px 5px 0 #333;
   -webkit-box-shadow: 5px 5px 0 #333;
   -moz-box-shadow: 5px 5px 0 #333;
   /*despues de scalar la transcion vuelve a su estado original*/
   transition: transform 2s;
}


figure:nth-child(3n){
    /*rotación imagenes*/
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    background-color: hsl(25%,100%,50%);
    border: 1px solid black;
    border-radius: 5px;
}

figure:hover{
    /*cambiar color de fondo*/
/*  color:blue;
    background-color: #ff9;
    transition-property:background-color;
    transition-property:color;*/
    /*duracion de la transición*/
    transition-duration: 2s;
    -ms-transform: rotate(0deg);  /*IE 9*/ 
    -webkit-transform: rotate(0deg);  /*Chrome, Safari, Opera*/ 
    transform: rotate(0deg);
    /*aumento de tamaño*/
    -webkit-transform: scale(1.5);
    transform: scale(1.5);           
}

#nieve{
    
    font-size: 100px;
    color:gold;
    position:fixed;
    top:800px;
    top: 10px;
    /*ponerlo mirando hacia la derecha*/
    transform: rotate(180deg);
    
    /*definimos la animación*/
    animation-name: nieve;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;  
}

@keyframes nieve{
    
    /*inicio*/
    from {
        
    }
    /*en medio*/
    50% {
        color:whte;
        top:190px;
        left:195px;
    }
    /*al final del ciclo*/
    to {
        
        color:white;
        top:950px;
        left:195px;
        transform: none;
        
    }
}

#publicidad{
    width: 600px;
    height: 200px;
    background-color: transparent;
    background-image: url("../image/ex7-banner.png");
    /*propiedades animación*/
    animation-name: anuncio;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    /*la animación empieza desde el principio*/
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
}

@keyframes anuncio{
    from{
        background-position:0px  0px;
    }
    50%{
        background-position: 0px  -200px;
    }
    to{
        background-position: 0px  -400px;
    }
    }
